.App {
  font-family: Arial, Helvetica, sans-serif;
}

.ResponseTime {
  display: inline-block;
  border: 2px solid #000;
  margin: 1em;
  width: 30em;
}

.ResponseTime .title {
  font-size: 2em;
  border-bottom: 1px solid #000;
  padding: 8px;
}

.ResponseTime .url {
  padding: 8px;
}

.ResponseTime .duration {
  font-size: 3em;
  font-weight: bold;
  padding: 1em 0 1em 0;
  text-align: center;
  color: #fff;
  background-color: #000;
}

.ResponseTime .duration .button {
  cursor: pointer;
}